<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleLibrary.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>List of Toys</h1>
    <table class="styleTable">
        <tr>
            <th>ID</th>
            <th>Toys</th>
            <th>Image</th>
            <th>Price</th>
            <th>Amount</th>
            <th></th>
        </tr>
        {{# each toys}}
        <tr>
            <td>{{toyid}}</td>
            <td>{{toy}}</td>
            <td><img src="{{image}}" alt=""></td>
            <td>{{price}}</td>
            <td>{{amount}}</td>
            <td class="btn"><a href="/detail?id={{_id}}">More detail</a></td>
        </tr>  
        {{/each}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="btn"><a href="/insert">Add New Toy</a></td>
        </tr>
    </table>
</body>
</html>